

.theme-dark, .theme-light {
  background-color: var(--backgroundColorB);
  color: var(--textColor2);
  /* color:var(--textColor8); */
  
}


/* Main Header Start */

.c-header-with-bg{
  padding-top: 10rem;
  background: var(--backgroundColorA);
  background-position: -190px;
  background-size: 100%;
}
.homesubtitle{
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.homesubtitle img{
  width: 40px;
}
.homesubtitle span{
  font-size      : 1.2rem;
  font-weight    : 800;
  text-decoration: none;
  color          : #0e2431;
}


.typewriter h1 {
  float: left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right:  solid orange; /* The typwriter cursor */
width: fit-content;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(15, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
